html{
    background-image: url(background.jpg);
}
header img{
    float:left;
    height:110px;
    width:90px;
}
header{
    background-image: url(background.jpg);   
    height: 110px;
    box-shadow: 0px 5px 10px 5px navajowhite;
}
.conURLS a{
    text-decoration: none;
    color: #black; 
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2); 
}


table,th,td{
    border: 1px solid brown;
    border-color: black;
}
tbody tr:nth-child(odd){
    background-color: ghostwhite;
}
tbody tr:nth-child(even){
    background-color: orange;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}